* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto'; }

ul {
  width: fit-content; }

li {
  list-style-type: none; }

@font-face {
  font-family: 'Roboto';
  src: url(../font/Roboto.ttf); }
@font-face {
  font-family: 'Roboto-thin';
  src: url(../font/Roboto-Thin.ttf); }
@font-face {
  font-family: 'Roboto-light';
  src: url(../font/Roboto-Light.ttf); }
@font-face {
  font-family: 'Roboto-medium';
  src: url(../font/Roboto-Medium.ttf); }
.light {
  font-family: 'Roboto-light'; }

.text-title1 {
  color: #EBCB80;
  font-size: 36px;
  text-transform: uppercase; }

.text-title64,
.text64 {
  font-size: 64px;
  text-transform: uppercase; }

.text-title44 {
  font-family: 'Roboto-light';
  font-size: 44px; }

.text36 {
  font-size: 36px; }

.text-title24 {
  font-size: 24px;
  text-transform: capitalize; }

.text24 {
  font-size: 24px; }

.text-title18 {
  font-size: 18px; }

.text18 {
  font-size: 18px;
  line-height: 24px; }

.text-description,
.text16 {
  font-size: 16px;
  line-height: 24px; }

.white,
.text-white {
  color: #ffffff; }

.text-white1 {
  color: #F6F6F6; }

.yellow {
  color: #EBCB80; }

.black,
.text-black {
  color: #4B4B4B; }

.center {
  text-align: center; }

.container {
  margin: 0 auto;
  width: 1140px; }

.line-height100 {
  line-height: 100px; }

.box-center {
  margin-left: auto;
  margin-right: auto; }

.navigation ul {
  display: flex; }
  .navigation ul li {
    list-style-type: none;
    margin-left: 40px; }
    .navigation ul li:first-child {
      margin-left: 0; }
    .navigation ul li a {
      color: #ffffff;
      font-size: 18px;
      line-height: 21px;
      text-decoration: none;
      text-transform: capitalize; }

.dropdown {
  background: rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  padding: 5px 10px; }
  .dropdown option {
    color: #000000;
    font-size: 18px; }

.progress-circle {
  margin: 55px auto 30px auto;
  width: 204px;
  height: 204px;
  border-radius: 50%;
  position: relative; }

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid #E6E6E6; }

.left-half-clipper, .right-half-clipper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0; }

.left-half-clipper {
  clip: rect(0, 102px, 204px, 0); }

.right-half-clipper {
  clip: rect(0, 204px, 204px, 102px); }

.bar-contain {
  width: 100%;
  height: 100%; }

.left-bar, .right-bar {
  border: 10px solid #EBCB80;
  box-sizing: border-box; }

.left-bar {
  border-right: 0;
  border-radius: 102px 0 0 102px; }

.right-bar {
  border-left: 0;
  border-radius: 0 102px 102px 0; }

.progress-content {
  width: 264px;
  margin: 0 auto; }

.value {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.item {
  width: 100%; }

.item-img {
  position: relative;
  width: fit-content;
  margin: 30px auto; }

.item-img img {
  width: 255px;
  height: 255px;
  box-sizing: border-box;
  border-radius: 50%;
  display: block;
  border: 4px solid #E6E6E6;
  box-shadow: 0 1px 3px #000000; }

.overlap {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 255px;
  height: 255px;
  box-sizing: border-box;
  border-radius: 50%;
  display: block;
  background: rgba(138, 118, 72, 0.4) url(../img/View.png) no-repeat center center;
  border: 4px solid #EBCB80;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.view-project {
  width: fit-content;
  margin-bottom: 10%; }

.view-img {
  width: 20px;
  background: url(../img/Views.png) no-repeat center center; }

.is-item-active .overlap,
.item:hover .overlap {
  opacity: 1; }
.is-item-active .item-img > img,
.item:hover .item-img > img {
  box-shadow: 0 0 8px #000000; }
.is-item-active .item-btn > button,
.item:hover .item-btn > button {
  background: #EBCB80;
  border: 2px solid #EBCB80; }

.item-btn > button, .submit {
  width: 200px;
  box-sizing: border-box;
  text-transform: uppercase;
  background: none;
  font-size: 16px;
  padding: 15px 60px;
  border-radius: 25px;
  border: 2px solid #4B4B4B;
  display: block; }

.item-btn {
  width: 100%;
  display: flex;
  justify-content: center; }

.card-item {
  width: 550px;
  padding: 30px 65px 0 65px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5); }
  .card-item .contact {
    margin-top: 40px; }
  .card-item .context {
    position: relative;
    padding-bottom: 80px; }

.type-yellow {
  background: linear-gradient(237.68deg, rgba(255, 255, 255, 0.49658) 21.41%, rgba(255, 255, 255, 0.0001) 121.41%) #EBCB80;
  background-blend-mode: soft-light; }
  .type-yellow .card-img {
    border: 2px solid #4B4B4B; }

.type-black {
  background: linear-gradient(236.49deg, rgba(0, 0, 0, 0.0001) 25.75%, rgba(0, 0, 0, 0.40113) 116.34%) #4B4B4B;
  background-blend-mode: soft-light; }
  .type-black .card-img {
    border: 2px solid #F6F6F6; }

.card-img {
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: -64px; }

.dot {
  width: 14px;
  height: 14px;
  border: 2px solid #4B4B4B;
  box-sizing: border-box;
  border-radius: 50%; }

.dot-active {
  background: #4B4B4B; }

.header {
  min-width: 1140px;
  background: url(../img/Background_head.png) no-repeat;
  background-size: cover; }
  .header .head {
    display: grid;
    grid-template-columns: 50% auto auto; }
  .header .search img {
    margin-right: 30px; }
  .header .container {
    height: 100%; }
  .header .left-content {
    padding-left: 90px;
    padding-top: 60px; }
    .header .left-content .text2 {
      margin: 150px 0 0 20px; }
    .header .left-content .text3 {
      margin-top: 30px; }
    .header .left-content .text4 {
      margin-top: 20px; }
  .header .right-content {
    display: flex;
    justify-content: center;
    position: relative; }
    .header .right-content img {
      display: block;
      position: absolute;
      bottom: 0; }
  .header .link-app {
    margin: 100px 0 60px 0; }
    .header .link-app img {
      margin-left: 30px; }
      .header .link-app img:first-child {
        margin-left: 0; }

.flex {
  display: flex; }

.center-right {
  align-items: center;
  justify-content: flex-end; }

.center-center {
  align-items: center;
  justify-content: center; }

.wrap {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; }

.grid {
  display: grid; }

.two-col {
  grid-template-columns: 50% 50%; }

.two-col-auto {
  grid-template-columns: auto auto; }

.two-row-auto {
  grid-template-rows: auto auto; }

.three-col {
  grid-template-columns: 33.33333% 33.33333% 33.33333%; }

.four-col {
  grid-template-columns: 25% 25% 25% 25%; }

.col2 {
  grid-column: 2; }

.advantages {
  margin: 70px 0 110px 0; }
  .advantages .text-description {
    margin-top: 20px; }
  .advantages .text64 {
    letter-spacing: -5px; }
  .advantages .value > span {
    width: fit-content; }

.testimonial {
  min-width: 1140px;
  background: url(../img/background_testimonial.png) no-repeat;
  background-size: cover; }
  .testimonial > .container {
    padding: 150px 0 70px 0; }

.testimonial-content {
  margin-top: 110px;
  position: relative; }

.prev, .next {
  width: 66px;
  height: 66px;
  position: absolute;
  top: 20%; }

.prev {
  background: url(../img/Prev.png) no-repeat;
  left: 0; }

.next {
  background: url(../img/Next.png) no-repeat;
  right: 0; }

.slide-content {
  margin: 0 200px; }

.author {
  margin: 45px auto 0 auto;
  width: fit-content; }

.author-name {
  padding-left: 30px; }

.author-img {
  border-radius: 50%;
  border: 2px solid #EBCB80; }

.project {
  padding: 80px 0; }
  .project .item {
    position: relative;
    height: 500px; }
  .project .item-btn {
    position: absolute;
    bottom: 0; }
  .project .view-content {
    padding-left: 10px; }

.project-title > .text-description {
  width: 555px;
  margin: 25px auto 0 auto; }

.project-content {
  margin-top: 40px;
  color: #4B4B4B; }

.cta {
  background: linear-gradient(192.46deg, rgba(255, 255, 255, 0.39595) 33.56%, rgba(255, 255, 255, 0.0001) 97.66%), #EBCB80;
  background-blend-mode: soft-light;
  padding: 90px 0 110px 0; }
  .cta .text-description {
    width: 280px;
    margin: 20px auto 30px auto; }
  .cta .submit {
    background: #4B4B4B;
    color: #ffffff;
    width: 230px;
    margin-top: 50px; }

input[type="email"] {
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  padding: 15px 25px;
  width: 230px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box; }

.cards {
  padding: 40px 0 70px 0; }

.cards-content {
  margin: 80px 0 100px 0; }

.card-item2 {
  margin-top: 100px; }

.cards-nav li {
  margin-left: 15px; }
  .cards-nav li:first {
    margin-left: 0; }

.package-item1 > .package-head {
  background: linear-gradient(180deg, rgba(60, 60, 60, 0.19817) 0%, rgba(60, 60, 60, 0.70426) 100%), url("../img/pricing1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light; }

.package-item2 > .package-head {
  background: linear-gradient(180deg, rgba(60, 60, 60, 0.19817) 0%, rgba(60, 60, 60, 0.70426) 100%), url("../img/pricing2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light; }

.package-item3 > .package-head {
  background: linear-gradient(180deg, rgba(60, 60, 60, 0.19817) 0%, rgba(60, 60, 60, 0.70426) 100%), url("../img/pricing3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light; }

.package-item4 > .package-head {
  background: linear-gradient(180deg, rgba(60, 60, 60, 0.19817) 0%, rgba(60, 60, 60, 0.70426) 100%), url("../img/pricing4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light; }

.pricing {
  background: #F6F6F6;
  padding: 70px 0 110px 0; }

.pricing-content {
  grid-column-gap: 30px; }

.package-item {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: hidden; }

.package-head {
  color: #ffffff;
  padding: 40px 0 20px 0; }

.package-des {
  padding: 20px 0; }

.package-btn > button {
  text-transform: uppercase;
  border: none;
  background: transparent;
  width: 200px;
  height: 48px;
  display: block;
  font-size: 16px; }

/*# sourceMappingURL=main.css.map */
