.p00 .left-half-clipper .bar-contain,
.p00 .right-half-clipper .bar-contain {
  border: none; }

.p-01 .left-half-clipper .bar-contain {
  transform: rotate(176.4deg); }
.p-01 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-02 .left-half-clipper .bar-contain {
  transform: rotate(172.8deg); }
.p-02 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-03 .left-half-clipper .bar-contain {
  transform: rotate(169.2deg); }
.p-03 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-04 .left-half-clipper .bar-contain {
  transform: rotate(165.6deg); }
.p-04 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-05 .left-half-clipper .bar-contain {
  transform: rotate(162deg); }
.p-05 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-06 .left-half-clipper .bar-contain {
  transform: rotate(158.4deg); }
.p-06 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-07 .left-half-clipper .bar-contain {
  transform: rotate(154.8deg); }
.p-07 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-08 .left-half-clipper .bar-contain {
  transform: rotate(151.2deg); }
.p-08 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-09 .left-half-clipper .bar-contain {
  transform: rotate(147.6deg); }
.p-09 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-10 .left-half-clipper .bar-contain {
  transform: rotate(144deg); }
.p-10 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-11 .left-half-clipper .bar-contain {
  transform: rotate(140.4deg); }
.p-11 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-12 .left-half-clipper .bar-contain {
  transform: rotate(136.8deg); }
.p-12 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-13 .left-half-clipper .bar-contain {
  transform: rotate(133.2deg); }
.p-13 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-14 .left-half-clipper .bar-contain {
  transform: rotate(129.6deg); }
.p-14 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-15 .left-half-clipper .bar-contain {
  transform: rotate(126deg); }
.p-15 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-16 .left-half-clipper .bar-contain {
  transform: rotate(122.4deg); }
.p-16 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-17 .left-half-clipper .bar-contain {
  transform: rotate(118.8deg); }
.p-17 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-18 .left-half-clipper .bar-contain {
  transform: rotate(115.2deg); }
.p-18 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-19 .left-half-clipper .bar-contain {
  transform: rotate(111.6deg); }
.p-19 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-20 .left-half-clipper .bar-contain {
  transform: rotate(108deg); }
.p-20 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-21 .left-half-clipper .bar-contain {
  transform: rotate(104.4deg); }
.p-21 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-22 .left-half-clipper .bar-contain {
  transform: rotate(100.8deg); }
.p-22 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-23 .left-half-clipper .bar-contain {
  transform: rotate(97.2deg); }
.p-23 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-24 .left-half-clipper .bar-contain {
  transform: rotate(93.6deg); }
.p-24 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-25 .left-half-clipper .bar-contain {
  transform: rotate(90deg); }
.p-25 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-26 .left-half-clipper .bar-contain {
  transform: rotate(86.4deg); }
.p-26 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-27 .left-half-clipper .bar-contain {
  transform: rotate(82.8deg); }
.p-27 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-28 .left-half-clipper .bar-contain {
  transform: rotate(79.2deg); }
.p-28 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-29 .left-half-clipper .bar-contain {
  transform: rotate(75.6deg); }
.p-29 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-30 .left-half-clipper .bar-contain {
  transform: rotate(72deg); }
.p-30 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-31 .left-half-clipper .bar-contain {
  transform: rotate(68.4deg); }
.p-31 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-32 .left-half-clipper .bar-contain {
  transform: rotate(64.8deg); }
.p-32 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-33 .left-half-clipper .bar-contain {
  transform: rotate(61.2deg); }
.p-33 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-34 .left-half-clipper .bar-contain {
  transform: rotate(57.6deg); }
.p-34 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-35 .left-half-clipper .bar-contain {
  transform: rotate(54deg); }
.p-35 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-36 .left-half-clipper .bar-contain {
  transform: rotate(50.4deg); }
.p-36 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-37 .left-half-clipper .bar-contain {
  transform: rotate(46.8deg); }
.p-37 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-38 .left-half-clipper .bar-contain {
  transform: rotate(43.2deg); }
.p-38 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-39 .left-half-clipper .bar-contain {
  transform: rotate(39.6deg); }
.p-39 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-40 .left-half-clipper .bar-contain {
  transform: rotate(36deg); }
.p-40 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-41 .left-half-clipper .bar-contain {
  transform: rotate(32.4deg); }
.p-41 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-42 .left-half-clipper .bar-contain {
  transform: rotate(28.8deg); }
.p-42 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-43 .left-half-clipper .bar-contain {
  transform: rotate(25.2deg); }
.p-43 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-44 .left-half-clipper .bar-contain {
  transform: rotate(21.6deg); }
.p-44 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-45 .left-half-clipper .bar-contain {
  transform: rotate(18deg); }
.p-45 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-46 .left-half-clipper .bar-contain {
  transform: rotate(14.4deg); }
.p-46 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-47 .left-half-clipper .bar-contain {
  transform: rotate(10.8deg); }
.p-47 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-48 .left-half-clipper .bar-contain {
  transform: rotate(7.2deg); }
.p-48 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-49 .left-half-clipper .bar-contain {
  transform: rotate(3.6deg); }
.p-49 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-50 .left-half-clipper .bar-contain {
  transform: rotate(0deg); }
.p-50 .right-half-clipper .bar-contain {
  transform: rotate(180deg); }

.p-51 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-51 .right-half-clipper .bar-contain {
  transform: rotate(176.4deg); }

.p-52 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-52 .right-half-clipper .bar-contain {
  transform: rotate(172.8deg); }

.p-53 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-53 .right-half-clipper .bar-contain {
  transform: rotate(169.2deg); }

.p-54 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-54 .right-half-clipper .bar-contain {
  transform: rotate(165.6deg); }

.p-55 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-55 .right-half-clipper .bar-contain {
  transform: rotate(162deg); }

.p-56 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-56 .right-half-clipper .bar-contain {
  transform: rotate(158.4deg); }

.p-57 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-57 .right-half-clipper .bar-contain {
  transform: rotate(154.8deg); }

.p-58 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-58 .right-half-clipper .bar-contain {
  transform: rotate(151.2deg); }

.p-59 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-59 .right-half-clipper .bar-contain {
  transform: rotate(147.6deg); }

.p-60 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-60 .right-half-clipper .bar-contain {
  transform: rotate(144deg); }

.p-61 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-61 .right-half-clipper .bar-contain {
  transform: rotate(140.4deg); }

.p-62 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-62 .right-half-clipper .bar-contain {
  transform: rotate(136.8deg); }

.p-63 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-63 .right-half-clipper .bar-contain {
  transform: rotate(133.2deg); }

.p-64 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-64 .right-half-clipper .bar-contain {
  transform: rotate(129.6deg); }

.p-65 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-65 .right-half-clipper .bar-contain {
  transform: rotate(126deg); }

.p-66 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-66 .right-half-clipper .bar-contain {
  transform: rotate(122.4deg); }

.p-67 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-67 .right-half-clipper .bar-contain {
  transform: rotate(118.8deg); }

.p-68 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-68 .right-half-clipper .bar-contain {
  transform: rotate(115.2deg); }

.p-69 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-69 .right-half-clipper .bar-contain {
  transform: rotate(111.6deg); }

.p-70 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-70 .right-half-clipper .bar-contain {
  transform: rotate(108deg); }

.p-71 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-71 .right-half-clipper .bar-contain {
  transform: rotate(104.4deg); }

.p-72 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-72 .right-half-clipper .bar-contain {
  transform: rotate(100.8deg); }

.p-73 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-73 .right-half-clipper .bar-contain {
  transform: rotate(97.2deg); }

.p-74 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-74 .right-half-clipper .bar-contain {
  transform: rotate(93.6deg); }

.p-75 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-75 .right-half-clipper .bar-contain {
  transform: rotate(90deg); }

.p-76 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-76 .right-half-clipper .bar-contain {
  transform: rotate(86.4deg); }

.p-77 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-77 .right-half-clipper .bar-contain {
  transform: rotate(82.8deg); }

.p-78 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-78 .right-half-clipper .bar-contain {
  transform: rotate(79.2deg); }

.p-79 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-79 .right-half-clipper .bar-contain {
  transform: rotate(75.6deg); }

.p-80 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-80 .right-half-clipper .bar-contain {
  transform: rotate(72deg); }

.p-81 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-81 .right-half-clipper .bar-contain {
  transform: rotate(68.4deg); }

.p-82 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-82 .right-half-clipper .bar-contain {
  transform: rotate(64.8deg); }

.p-83 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-83 .right-half-clipper .bar-contain {
  transform: rotate(61.2deg); }

.p-84 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-84 .right-half-clipper .bar-contain {
  transform: rotate(57.6deg); }

.p-85 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-85 .right-half-clipper .bar-contain {
  transform: rotate(54deg); }

.p-86 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-86 .right-half-clipper .bar-contain {
  transform: rotate(50.4deg); }

.p-87 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-87 .right-half-clipper .bar-contain {
  transform: rotate(46.8deg); }

.p-88 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-88 .right-half-clipper .bar-contain {
  transform: rotate(43.2deg); }

.p-89 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-89 .right-half-clipper .bar-contain {
  transform: rotate(39.6deg); }

.p-90 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-90 .right-half-clipper .bar-contain {
  transform: rotate(36deg); }

.p-91 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-91 .right-half-clipper .bar-contain {
  transform: rotate(32.4deg); }

.p-92 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-92 .right-half-clipper .bar-contain {
  transform: rotate(28.8deg); }

.p-93 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-93 .right-half-clipper .bar-contain {
  transform: rotate(25.2deg); }

.p-94 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-94 .right-half-clipper .bar-contain {
  transform: rotate(21.6deg); }

.p-95 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-95 .right-half-clipper .bar-contain {
  transform: rotate(18deg); }

.p-96 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-96 .right-half-clipper .bar-contain {
  transform: rotate(14.4deg); }

.p-97 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-97 .right-half-clipper .bar-contain {
  transform: rotate(10.8deg); }

.p-98 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-98 .right-half-clipper .bar-contain {
  transform: rotate(7.2deg); }

.p-99 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-99 .right-half-clipper .bar-contain {
  transform: rotate(3.6deg); }

.p-100 .left-half-clipper .bar-contain {
  transform: rootate(0deg); }
.p-100 .right-half-clipper .bar-contain {
  transform: rotate(0deg); }

/*# sourceMappingURL=progressCircleValue.css.map */
