.p00 {
    .left-half-clipper .bar-contain,
    .right-half-clipper .bar-contain {
        border: none;
    }
}

@for $i from 1 through 100 {
    $index: 'p-' + $i;
    @if $i < 10 {
        $index: 'p-0' + $i;
    }
    .#{$index} {
        @if $i <= 50 {
            .left-half-clipper .bar-contain {
                transform: rotate(180deg - $i*3.6deg);
            }
            .right-half-clipper .bar-contain {
                transform: rotate(180deg);
            }
        }
        @else {
            .left-half-clipper .bar-contain {
                transform: rootate(0deg);
            }
            .right-half-clipper .bar-contain {
                transform: rotate(360deg - $i*3.6deg);
            }
        }
    }
}
