$width_desktop: 1140px;

$circle-width: 204px;

$size16: 16px;

$white_color: #ffffff;
$black_color: #4B4B4B;

$background_pricing: #F6F6F6;
$width_package_btn: 200px;
$height_package_btn: 48px;
$padding_pricing: 70px 0 110px 0;
$background_package: ('pricing1.png', 'pricing2.png', 'pricing3.png', 'pricing4.png');
$padding_package_head: 40px 0 20px 0;
$padding_package_des: 20px 0;