.card-item {
    width: 550px;
    padding: 30px 65px 0 65px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow:  0px 8px 16px rgba(0, 0, 0, 0.5);

    .contact {
        margin-top: 40px;
    }

    .context {
        position: relative;
        padding-bottom: 80px;
    }
}

.type-yellow {
    background: linear-gradient(237.68deg, rgba(255, 255, 255, 0.496575) 21.41%, rgba(255, 255, 255, 0.0001) 121.41%) #EBCB80;
    background-blend-mode: soft-light;

    .card-img {
        border: 2px solid #4B4B4B;
    }
}

.type-black {
    background: linear-gradient(236.49deg, rgba(0, 0, 0, 0.0001) 25.75%, rgba(0, 0, 0, 0.401127) 116.34%) #4B4B4B;
    background-blend-mode: soft-light;

    .card-img {
        border: 2px solid #F6F6F6;
    }
}

.card-img {
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: -64px;
}