.dropdown {
    background: rgba(255, 255, 255, 0);
    border: 2px solid #ffffff;
    border-radius: 20px;
    color: #ffffff;
    padding: 5px 10px;

    option {
        color: #000000;
        font-size: 18px;
    }
}