
.item {
    width: 100%;
}

.item-img {
    position: relative;
    width: fit-content;
    margin: 30px auto;
}

.item-img img {
    width: 255px;
    height: 255px;
    box-sizing: border-box;
    border-radius: 50%;
    display: block;
    border: 4px solid #E6E6E6;
    box-shadow: 0 1px 3px #000000;
}

.overlap {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 255px;
    height: 255px;
    box-sizing: border-box;
    border-radius: 50%;
    display: block;
    background: rgba(138, 118, 72, 0.4) url(../img/View.png) no-repeat center center;
    border: 4px solid #EBCB80;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.view-project {
    width: fit-content;
    margin-bottom: 10%;
}

.view-img {
    width: 20px;
    background: url(../img/Views.png) no-repeat center center;
}

.is-item-active,
.item:hover {
    
    .overlap {
        opacity: 1;
    }

    .item-img>img {
        box-shadow: 0 0 8px #000000;
    }

    .item-btn>button {
        background: #EBCB80;
        border: 2px solid #EBCB80;
    }
}

%button {
    width: 200px;
    box-sizing: border-box;
    text-transform: uppercase;
    background: none;
    font-size: 16px;
    padding: 15px 60px;
    border-radius: 25px;
    border: 2px solid #4B4B4B;
    display: block;
}

.item-btn {
    width: 100%;
    display: flex;
    justify-content: center;

    &>button {
        @extend %button;
    }
}

.submit {
    @extend %button;
}