.navigation {
    
    ul {
        display: flex;

        li {
            list-style-type: none;
            margin-left: 40px;

            &:first-child {
                margin-left: 0;
            }
  
            a {
                color: #ffffff;
                font-size: 18px;
                line-height: 21px;
                text-decoration: none;
                text-transform: capitalize;
            }
        }
    }
}