@import '../abstracts/variables';

.progress-circle {
    margin: 55px auto 30px auto;
    width: $circle-width;
    height: $circle-width;
    border-radius: 50%;
    position: relative;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #E6E6E6;
}

%half-clipper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.left-half-clipper {
    @extend %half-clipper;
    clip: rect(0, $circle-width/2, $circle-width, 0);
}

.right-half-clipper {
    @extend %half-clipper;
    clip: rect(0, $circle-width, $circle-width, $circle-width/2);
}

.bar-contain {
    width: 100%;
    height: 100%;
}

%bar {
    border: 10px solid #EBCB80;
    box-sizing: border-box;
}

.left-bar {
    @extend %bar;
    border-right: 0;
    border-radius: $circle-width/2 0 0 $circle-width/2;
}

.right-bar {
    @extend %bar;
    border-left: 0;
    border-radius: 0 $circle-width/2 $circle-width/2 0;
}

.progress-content {
    width: $circle-width + 60px;
    margin: 0 auto;
}

.value {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}