@import '../abstracts/variables';

.container {
    margin: 0 auto;
    width: $width_desktop;
}

.line-height100 {
    line-height: 100px;
}

.box-center {
    margin-left: auto;
    margin-right: auto;
}