@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto.ttf);
}

@font-face {
    font-family: 'Roboto-thin';
    src: url(../font/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'Roboto-light';
    src: url(../font/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto-medium';
    src: url(../font/Roboto-Medium.ttf);
}

.light {
    font-family: 'Roboto-light';
}

.text-title1 {
    color: #EBCB80;
    font-size: 36px;
    text-transform: uppercase;
}

.text-title64,
.text64 {
    font-size: 64px;
    text-transform: uppercase;
}

.text-title44 {
    font-family: 'Roboto-light';
    font-size: 44px;
}

.text36 {
    font-size: 36px;
}

.text-title24 {
    font-size: 24px;
    text-transform: capitalize;
}

.text24 {
    font-size: 24px;
}

.text-title18 {
    font-size: 18px;
}

.text18 {
    font-size: 18px;
    line-height: 24px;
}

.text-description,
.text16 {
    font-size: 16px;
    line-height: 24px;
}

.white,
.text-white {
    color: #ffffff;
}

.text-white1 {
    color: #F6F6F6;
}

.yellow {
    color: #EBCB80;
}

.black,
.text-black {
    color: #4B4B4B;
}

.center {
    text-align: center;
}