.advantages {
    margin: 70px 0 110px 0;
    
    .text-description {
        margin-top: 20px;
    }

    .text64 {
        letter-spacing: -5px;
    }

    .value {
        
        &>span {
            width: fit-content;
        }
    }
}