.cards {
    padding: 40px 0 70px 0;
}

.cards-content {
    margin: 80px 0 100px 0;
}

.card-item2 {
    margin-top: 100px;
}

.cards-nav {
    
    li {
        margin-left: 15px;

        &:first {
            margin-left: 0;
        }
    }
}