.cta {
    background: linear-gradient(192.46deg, rgba(255, 255, 255, 0.395947) 33.56%, rgba(255, 255, 255, 0.0001) 97.66%), #EBCB80;
    background-blend-mode: soft-light;
    padding: 90px 0 110px 0;

    .text-description {
        width: 280px;
        margin: 20px auto 30px auto;
    }

    .submit {
        background: #4B4B4B;
        color: #ffffff;
        width: 230px;
        margin-top: 50px;
    }
}

input[type="email"] {
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    padding: 15px 25px;
    width: 230px;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
}