.flex {
    display: flex;
}

.center-right {
    align-items: center;
    justify-content: flex-end;
}

.center-center {
    align-items: center;
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}