.grid {
    display: grid;
}

.two-col {
    grid-template-columns: 50% 50%;
}

.two-col-auto {
    grid-template-columns: auto auto;
}

.two-row-auto {
    grid-template-rows: auto auto;
}

.three-col {
    $size: 100%/3;
    grid-template-columns: $size $size $size;
}

.four-col {
    $size: 100%/4;
    grid-template-columns: $size $size $size $size;
}

.col2 {
    grid-column: 2;
}