@import '../abstracts/variables';

.header {
    min-width: $width_desktop;
    background: url(../img/Background_head.png) no-repeat;
    background-size: cover;

    .head {
        display: grid;
        grid-template-columns: 50% auto auto; 
    }

    .search {

        img {
            margin-right: 30px;
        }
    }

    .container {
        height: 100%;
    }

    .left-content {
        padding-left: 90px;
        padding-top: 60px;

        .text2 {
            margin: 150px 0 0 20px;
        }

        .text3 {
            margin-top: 30px;
        }
        
        .text4 {
            margin-top: 20px;
        }
    }

    .right-content {  
        display: flex;
        justify-content: center;   
        position: relative;

        img {
            display: block;
            position: absolute;
            bottom: 0;
        }
    }

    .link-app {
        margin: 100px 0 60px 0;

        img {
            margin-left: 30px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}