@import '../abstracts/variables';

$i: 1;

@each $background in $background_package {
    .package-item#{$i}>.package-head {
        background: linear-gradient(180deg, rgba(60, 60, 60, 0.198171) 0%, rgba(60, 60, 60, 0.704257) 100%), url('../img/#{$background}');
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: soft-light;
    }    
    $i: $i+1;
} 

.pricing {
    background: $background_pricing;
    padding: $padding_pricing;
}

.pricing-content {
    grid-column-gap: 30px;
}

.package-item {
    background: $white_color;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
}

.package-head {
    color: $white_color;
    padding: $padding_package_head;
}

.package-des {
    padding: $padding_package_des;
}

.package-btn>button {
    text-transform: uppercase;
    border: none;
    background: transparent;
    width: $width_package_btn;
    height: $height_package_btn;
    display: block;
    font-size: $size16;
}