.project {
    padding: 80px 0;
    
    .item {
        position: relative;
        height: 500px;
    }

    .item-btn {
        position: absolute;
        bottom: 0;
    }

    .view-content {
        padding-left: 10px;
    }
}

.project-title {

    &>.text-description {
        width: 555px;
        margin: 25px auto 0 auto;
    }
}

.project-content {
    margin-top: 40px;
    color: #4B4B4B;
}
