@import '../abstracts/variables';
@import '../abstracts/variables';

.testimonial {
    min-width: $width-desktop;
    background: url(../img/background_testimonial.png) no-repeat;
    background-size: cover;

    &>.container {
        padding: 150px 0 70px 0;
    }
}

.testimonial-content {
    margin-top: 110px;
    position: relative;
}

%size {
    $size: 66px;
    width: $size;
    height: $size;
    position: absolute;
    top: 20%;
}

.prev {
    @extend %size;
    background: url(../img/Prev.png) no-repeat;
    left: 0;
}

.next {
    @extend %size;
    background: url(../img/Next.png) no-repeat;
    right: 0;
}

.slide-content {
    margin: 0 200px;
}

.author {
    margin: 45px auto 0 auto;
    width: fit-content;
}

.author-name {
    padding-left: 30px;
}

.author-img {
    border-radius: 50%;
    border: 2px solid #EBCB80;
}